<%= form_with(model: unidade, class: "form-container") do |form| %>
  <% if unidade.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(unidade.errors.count, "error") %> prevented saving this unidade:</h2>
      <ul>
        <% unidade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-input" %>
  </div>

  <div class="form-actions">
    <%= form.submit "Salvar", class: "form-button" %>
  </div>
<% end %>
