<tr id="<%= dom_id(unidade) %>">
  <td><%= unidade.nome %></td>
  <td>
    <!--
    <%= link_to "Show", unidade, class: "btn btn-primary" %>
    -->
    <%= link_to "Editar", edit_unidade_path(unidade), class: "btn btn-primary btn-edit" %>
    <%= button_to "Apagar", unidade, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-delete" %>
  </td>
</tr>
