<%= form_with(model: guarda, local: true) do |form| %>
  <% if guarda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guarda.errors.count, "error") %> prohibited this guarda from being saved:</h2>
      <ul>
        <% guarda.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_completo, style: "display: block" %>
    <%= form.text_field :nome_completo, class: "form-input" %>
  </div>

  <div>
    <%= form.label :matricula, style: "display: block" %>
    <%= form.text_field :matricula, class: "form-input" %>
  </div>

  <div>
    <%= form.label :numeracao_porte, style: "display: block" %>
    <%= form.text_field :numeracao_porte, class: "form-input" %>
  </div>

  <div>
    <%= form.label :equipe_id, style: "display: block" %>
    <%= form.collection_select :equipe_id, Equipe.all, :id, :nome, { prompt: "Selecione a Equipe" }, { class: "form-input" } %>
  </div>

  <div>
    <%= form.submit "Salvar", class: "form-button" %>
  </div>
<% end %>
