<div id="<%= dom_id(guarda) %>" class="guarda-card">
  <p>
    <strong>Nome completo:</strong>
    <%= guarda.nome_completo %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= guarda.matricula %>
  </p>

  <p>
    <strong>Numeracao porte:</strong>
    <%= guarda.numeracao_porte %>
  </p>

  <p>
    <strong>Equipe:</strong>
    <%= guarda.equipe.present? ? guarda.equipe.nome : "Nenhuma" %>
  </p>
</div>
