<tr id="<%= dom_id(guarda) %>">
  <td><%= guarda.nome_completo %></td>
  <td><%= guarda.matricula %></td>
  <td><%= guarda.numeracao_porte %></td>
  <td><%= guarda.equipe.present? ? guarda.equipe.nome : "Nenhuma" %></td>
  <td>
    <!--
      <%= link_to "Show", guarda, class: "btn btn-primary" %>
    -->
    <%= link_to "Editar", edit_guarda_path(guarda), class: "btn btn-primary btn-edit" %>
    <%= button_to "Remover", guarda, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-delete" %>
  </td>
</tr>
