<h1>Redefinir Senha</h1>

<%= form_with model: @user, url: password_reset_path(@user.reset_token, email: @user.email), local: true, method: :patch do |form| %>
  <div class="form-group">
    <%= form.label :password, "Nova Senha" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :password_confirmation, "Confirme a Nova Senha" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.submit "Redefinir Senha", class: "btn btn-primary" %>
  </div>
<% end %>
