<p style="color: green"><%= notice %></p>

<% content_for :title, "Equipes" %>

<h1>Equipes</h1>

<div id="equipes">
  <% @equipes.each do |equipe| %>
    <%= render equipe %>
    <p>
      <%= link_to "Show this equipe", equipe %>
    </p>
  <% end %>
</div>

<%= link_to "New equipe", new_equipe_path %>

<div class="voltar-home text-center mt-4">
  <%= link_to "Voltar para a Home", root_path, class: "btn btn-secondary" %>
</div>