<!-- Formulário como uma nova linha na tabela -->
<tr class="new-arma-row">
  <%= form_with(model: @arma, local: true) do |form| %>
    <td class="td-new"><%= form.text_field :modelo, placeholder: "Modelo", class: "form-control" %></td>
    <td class="td-new"><%= form.text_field :registro, placeholder: "Registro", class: "form-control" %></td>
    <td class="td-new">
      <%= form.select :emprestada, [["Não", false], ["Sim", true]], {}, class: "form-control" %>
    </td>
    <td><%= form.submit "Salvar", class: "btn btn-success" %></td>
  <% end %>
</tr>
