<p style="color: green"><%= notice %></p>

<% content_for :title, "Armas" %>

<h1>Armas</h1>

<div class="table-container">
  <table class="armas-table">
    <thead>
      <tr>
        <th>Modelo</th>
        <th>Registro</th>
        <th>Emprestada</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @armas.each do |arma| %>
        <tr>
          <td><%= arma.modelo %></td>
          <td><%= arma.registro %></td>
          <td><%= arma.emprestada ? 'Sim' : 'Não' %></td>
          <td>
            <%= link_to "Editar", edit_arma_path(arma), class: "btn btn-edit" %>
            <%= button_to "Excluir", arma, method: :delete, class: "btn btn-delete" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="voltar-home voltar text-center mt-4">
  <%= link_to "Nova Arma", new_arma_path, class: "btn btn-new-arma" %> <!-- Botão Nova Arma -->
  <%= link_to "Voltar para a Home", root_path, class: "btn btn-back-home" %> <!-- Botão Voltar para a Home -->
</div>
