<div id="<%= dom_id(movimentacao) %>" class="movimentacao-card">
  <p>
    <strong>Armeiro:</strong>
    <%= movimentacao.guarda.present? ? movimentacao.guarda.nome_completo : "N/A" %>
  </p>

  <p>
    <strong>Matrícula Armeiro:</strong>
    <%= movimentacao.matricula_armeiro %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= movimentacao.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= movimentacao.hora %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= movimentacao.tipo %>
  </p>

  <p>
    <strong>Arma:</strong>
    <%= movimentacao.arma.present? ? movimentacao.arma.modelo : "N/A" %>
  </p>

  <p>
    <strong>Quantidade de Balas:</strong>
    <%= movimentacao.quantidade_balas %>
  </p>

  <p>
    <strong>Calibre da Munição:</strong>
    <%= movimentacao.calibre_municao %>
  </p>

  <p>
    <strong>Quantidade de Carregadores:</strong>
    <%= movimentacao.quantidade_carregadores %>
  </p>

  <p>
    <strong>Justificativa:</strong>
    <%= movimentacao.justificativa %>
  </p>
</div>
