<div id="<%= dom_id movimentacao %>">
  <p>
    <strong>Armeiro:</strong>
    <%= movimentacao.armeiro %>
  </p>

  <p>
    <strong>Matricula armeiro:</strong>
    <%= movimentacao.matricula_armeiro %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= movimentacao.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= movimentacao.hora %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= movimentacao.tipo %>
  </p>

  <p>
    <strong>Arma:</strong>
    <%= movimentacao.arma_id %>
  </p>

  <p>
    <strong>Quantidade balas:</strong>
    <%= movimentacao.quantidade_balas %>
  </p>

  <p>
    <strong>Calibre municao:</strong>
    <%= movimentacao.calibre_municao %>
  </p>

  <p>
    <strong>Quantidade carregadores:</strong>
    <%= movimentacao.quantidade_carregadores %>
  </p>

  <p>
    <strong>Guarda:</strong>
    <%= movimentacao.guarda_id %>
  </p>

  <p>
    <strong>Justificativa:</strong>
    <%= movimentacao.justificativa %>
  </p>

</div>
