<tr id="<%= dom_id(movimentacao) %>">
  <td><%= movimentacao.guarda.present? ? movimentacao.guarda.nome_completo : "N/A" %></td>
  <td><%= movimentacao.matricula_armeiro %></td>
  <td><%= movimentacao.data %></td>
  <td><%= movimentacao.hora %></td>
  <td><%= movimentacao.tipo %></td>
  <td><%= movimentacao.arma.present? ? movimentacao.arma.modelo : "N/A" %></td>
  <td><%= movimentacao.quantidade_balas %></td>
  <td><%= movimentacao.calibre_municao %></td>
  <td><%= movimentacao.quantidade_carregadores %></td>
  <td><%= movimentacao.justificativa %></td>
  <td>
    <!--
    <%= link_to "Show", movimentacao, class: "btn btn-primary" %>
    --->
    <%= link_to "Editar", edit_movimentacao_path(movimentacao), class: "btn btn-warning btn-edit" %>
    <%= button_to "Remover", movimentacao, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-delete" %>
  </td>
</tr>
