<p style="color: green"><%= notice %></p>

<div class="movimentacao-card">
  <div class="movimentacao-header">
    <%= render @movimentacao %>
  </div>
  <div class="movimentacao-links">
    <%= link_to "Edit this movimentacao", edit_movimentacao_path(@movimentacao), class: "btn btn-warning" %> |
    <%= link_to "Back to movimentacaos", movimentacaos_path, class: "btn btn-secondary" %>

    <%= button_to "Remover essa movimentacao", @movimentacao, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
